
body {

    background-color: #DBEAF9;
    color: black;
}

#initRootGrid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#loginStatus {
    font-size: 20pt;
}

#header {
    
}


#clientName {
    font: 40pt/42pt "Segoe UI Semilight";
    color: black;
}

#clientIntro {
    font: 12pt/15pt "Segoe UI";
    color: black;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 800px) {
    #clientName {
        margin-left: 1.2em;
    }
    #clientIntro {
        margin-left: 100px;
    }

    #initRootGrid {
        width: 100vw;
        height: 100vh;
        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        -ms-grid-rows: 20vh 1fr;
   }

    #header {
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        border-bottom: 1px solid red;
    }

    #loginStatus {
        width: 30vw;
        height: 100vh;
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        font-size: 20pt;
        border-right: 1px solid #8f0000;
    }

    #mainContent {
        width: 70vw;
        height: 100vh;
        margin-left: 1em;
        text-align: center;
        -ms-grid-column: 2;
        -ms-grid-row: 2;
        border-left: 1px solid #abc;
    }
}

@media screen and (-ms-view-state: snapped) {

    #header {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #clientName {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #clientIntro {
        display: none;
    }

    #loginStatus {
        font-size: 17pt;
        margin: 0;
        padding: 0;
    }
}












