<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7f2e4dec-0e2e-466c-88e2-1538a3f28b31" Version="1.0.1.1" Publisher="CN=AllenHeavey" />
  <Properties>
    <DisplayName>Mix one</DisplayName>
    <PublisherDisplayName>AllenHeavey</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Mixone" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Mix as one" ForegroundText="light" BackgroundColor="#0072c6" ToastCapable="true">
        <DefaultTile ShowName="allLogos" ShortName="MixOne" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>