/*****/

@media (-ms-view-state: fullscreen-landscape)
{
	body {
		background-color: #B8E768;
		width:100%;
		height: auto;
	}

    #news_header {
        margin-left: 3vw;
        height: 10vh;
    }

    #newsContent {
        width: 100%;
        height: 90vh;
    }

    #newsList {
        width: 100%;
        height: 90vh;
    }

    /*.win-listview, .win-container {
        background-color: #B8E768;
    }*/

    #basicMessageListView {
        width: 100%;
        height: 90vh;
        background-color: #B8E768;
    }

    #basicMessageListView .win-container {
        height: auto !important;
        /*float: left;*/
        font-size: 13pt;
    }

    /*.win-container[class='itemList'] {
        height: 40vh;
    }

    .win-container[class='newsItemAllScreen'] {
        height: 83vh;
    }*/

    /*#basicMessageListView .win-container .newsItemAllScreen {
        clear: both;
    }*/

    .itemList {
        width: 23vw;
        height: 40vh;
        background-color: #DBEAF9;
        padding: 10px;
        display: -ms-grid;
    }

    .newsItemAllScreen {
        width: 23vw;
        height: 83vh;
        background-color: #DBEAF9;
        padding: 10px;
        display: -ms-grid;
        clear: both;
    }

    .userAvart {
	    display: block;
	    float: left;
	    width: auto;
	    height: 100%;
	    margin-left: .3em;
    }

    .textContent {
	    display: block;
	    margin-left: 60px;
	    padding: 0;
	    width: auto;
        max-width: 80%;
        height: auto;
        min-height: 30vh;
	    max-height: 80%;
    }

    .textMainContainer {
        margin-top: .3vh;
        max-width: 23vw;
        width: auto;
        display: block;
        overflow: hidden;
    }

    .retweeted {
	    background: #5A9BD3;
	    margin: 0.3vh 0.9vw 0 0.7vw;
	    width: auto;
        max-width: 18vw;
	    position: relative;
	    border-radius: 6px 5px 5px 5px;
	    padding: .5em;
        height: auto;
        text-indent: .5em;
        overflow: hidden;
    }

    .retweeted:after, .retweeted:before {
	    bottom: 100%;
	    border: solid transparent;
	    content: ' ';
	    height: 0;
	    width: 0;
	    position: absolute;
    
    }

    .retweeted:after {
	    border-color: rgba(136,183,213,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 9px;
	    left: 13px;
	    margin-left: -9px;
	
    }

    .retweeted:before {
	    border-color: rgba(194,225,245,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 12px;
	    left: 13px;
	    margin-left: -12px;
    }

    .screen_name {
	    color: #00004f;
    }

    .tweetMessage {
	    margin: 0;
	    padding: 0;
    }

    .messageTime {
	    margin-left: 0.1em;
        float: left;
    }

    .fromeAndTime {
	    position: absolute;
        bottom: 0.5em;
        left: 1em;
        width: 21vw;
        height: 1.5em;
        text-indent: 1.5em;
    }

    .buttonGroup {
        float: right;
        right: 0.1em;
        bottom: 0;
        width: 100%;
    }

    .inTimeAndComment {
        width: 100%;
        height: 100%;
        clear: both;
    }
}


@media (-ms-view-state: snapped)
{
	body {
		width: 100%;
		height: auto;
	}
	
	#news_header {
		display: none;
	}
	
	#content {
		width: 100%;
		height: auto;
		
	}
	
	.buttonGroup {
		display:none;
	}
	
}

@media screen and (-ms-view-state: filled) {
}

@media (-ms-view-state: fullscreen-portrait) {

}




