.userAvart {
	display: block;
	float: left;
	width: auto;
	height: 100%;
	margin-left: .3em;
}

.textContent {
	display: block;
	margin-left: 60px;
	padding: 0;
	width: auto;
	height: auto;
}

.clearfix {
	clear: both;
}

.retweeted {
	background: #5A9BD3;
	margin: 0.9em 1em 0 0.5em;
	width: auto;
	position: relative;
	border-radius: 2px 0 0 0;
	padding: .5em;
    text-indent: 0.2em;
    height: 200px;
    overflow: hidden;
}

.retweeted:after, .retweeted:before {
	bottom: 100%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
    
}

.retweeted:after {
	border-color: rgba(136,183,213,0);
	border-bottom-color: #5A9BD3;
	border-width: 9px;
	left: 13px;
	margin-left: -9px;
	
}

.retweeted:before {
	border-color: rgba(194,225,245,0);
	border-bottom-color: #5A9BD3;
	border-width: 12px;
	left: 13px;
	margin-left: -12px;
}

.screen_name {
	color: #00004f;
}

.win-listview, .win-container {
    background-color: #DBEAF9;
}

ul {
    list-style: none;
}

@media screen and (min-width: 400px)
{
	body {
		background-color: #DBEAF9;
		width:100%;
		height: auto;
	}
	
	#header {
		width: 100%;
		height: 10em;
		position: relative;
	}

    .userAvart {
	    display: inline-block;
	    float: left;
	    height: 100%;
	    margin-left: .3em;
    }

    .textContent {
	    display: block;
	    margin-left: 60px;
	    padding: 0;
	    width: auto;
	    max-height: 200px;
    }

    .retweeted {
	    background: #5A9BD3;
	    margin: 0.9em 1em 0 0.5em;
	    width: auto;
	    position: relative;
	    border-radius: 6px 5px 5px 5px;
	    padding: .5em;
        overflow: hidden;
    }

    .retweeted:after, #retweeted:before {
	    bottom: 100%;
	    border: solid transparent;
	    content: ' ';
	    height: 0;
	    width: 0;
	    position: absolute;

    }

    .tweetMessage {
	    margin: 0;
	    padding: 0;
    }

    .retweeted:after {
	    border-color: rgba(136,183,213,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 9px;
	    left: 13px;
	    margin-left: -9px;
	
    }

    .retweeted:before {
	    border-color: rgba(194,225,245,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 12px;
	    left: 13px;
	    margin-left: -12px;
    }

    .screen_name {
	    color: #00004f;
    }

    #newsContent {
        width: 100%;
        height: 100%;
    }

    .itemList {
        width: 300px;
        height: 270px;
        background-color: #DBEAF9;
        padding: 10px;
    }

    .win-listview {
        width: 100%;
        height: 650px;
        background-color: #DBEAF9;
    }

    .win-container {
        background-color: #DBEAF9;
    }

    .textMainContainer {
        max-height: 200px;
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .messageTime {
	    margin-left: 0.1em;
        float: left;
    }

    .fromeAndTime {
	    position: absolute;
        bottom: 0.5em;
        left: 1em;
        width: 18em;
        height: 1.5em;
        text-indent: 1.5em;
    }

    .buttonGroup {
        float: right;
        right: 0.1em;
        bottom: 0;
        width: 100%;
    }

    .inTimeAndComment {
        width: 100%;
        height: 100%;
        clear: both;
    }
}


@media screen and (max-width: 400px)
{
	body {
		width: 100%;
		height: auto;
	}
	
	#header {
		display: none;
	}
	
	#content {
		width: 100%;
		height: auto;
		
	}
	
	.buttonGroup {
		display:none;
	}
	
}

