
.detailPage {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

.detail_title {
    display: inline-block;
    font-size: 34pt;
    padding-bottom: 4px;
    line-height: 36pt;
    height: 100%;
    padding-left: 1.3em;
}

.detail_title::after {
    content: ' ';
    clear: both;
}

.commentItemList {
    width: 100%;
    height: auto;
    margin: 3px 8px;
}

.commentAvart {
    float: left;
    margin-right: 5px;
    width: 55px;
    height: 50px;
}

.commentText {
    padding-right: 6px;
    float:left;
    width: 84%;
    overflow: hidden;
}

.commentAvart::after {
    content: ' ';
    clear: both;
}

.commentItemText {
    text-indent: 1em;
}

@media screen and (-ms-view-state: fullscreen-landscape) {

    #detail_username {
        display: inline-block;
        font-size: 17pt;
        vertical-align: middle;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        clear: both;
    }

    #detail_text {
        margin: 0;
        padding: 0;
        text-indent: 2em;
    }

    #detail_input {
        width: 96%;
        height: 8em;
        -ms-scroll-snap-y: none;
    }

    #detai_textarea {
        width: 98%;
        height: 8em;
        margin: 0 auto;
        font-size: 14pt;
    }

    #detail_retweeted {
        background: #5A9BD3;
        width: 88%;
        margin: 0.9em 1em 0.2em 0.5em;
        position: relative;
        border-radius: 6px 5px 5px 5px;
        text-indent: 2em;
    }

    #detail_retweeted:after, #detail_retweeted:before {
	    bottom: 100%;
	    border: solid transparent;
	    content: ' ';
	    height: 0;
	    width: 0;
	    position: absolute;
    }

    #detail_retweeted:after {
	    border-color: rgba(136,183,213,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 9px;
	    left: 16px;
	    margin-left: -9px;
	
    }

    #detail_retweeted:before {
	    border-color: rgba(194,225,245,0);
	    border-bottom-color: #5A9BD3;
	    border-width: 12px;
	    left: 16px;
	    margin-left: -12px;
    }

    #detailLeft {
        /**whole width 60vw*/
        float: left;
        width: 55vw;
        height: 96vh;
        /*background-color: #DBEAF9;*/
        padding-top: 4vh;
        padding-left: 5vw;
    }

    #detailLeft::after {
        content: ' ';
        clear: both;
    }

    #detailCommentList {
        /*whole width 40vw*/
        float: right;
        width: 40vw;
        height: 90vh;
        /*background-color: #DBEAF9;*/
    }

    #detailCommentList:after {
        content: ' ';
        clear: both;
    }

    #detaillistview {
        height: 89vh;
        /*background-color: #DBEAF9;*/
    }

    #detailCommentLabel {
        height: 10vh;
        line-height: 10vh;
        vertical-align: middle;
        text-align: center;
    }

    #detailCommentLabel p {
        font-size: 6vh;
        font-weight: 500;
    }

    #detaillistview .win-item {
        padding: 0;
        margin: 0;
        min-height: 10vh;
        margin-bottom: 3px;
    }

    #detaillistview .win-container {
        height: auto;
        background-color: #DBEAF9 !important;
    }

    #detail_content {
        width: 80%;
        margin: 0 auto;
    }

    #detail_avart {
        clear: both;
        height: 60px;
    }



}

@media screen and (-ms-view-state: filled) {

}

@media screen and (-ms-view-state: snapped) {
    #detailCommentList {
        display: none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {

}


